<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ekatta.sony_blood_bank_adminapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SBBAdminApp">

    <activity android:name=".Activities.ManageBloodBank_A" />
    <activity android:name=".Activities.Profile" />
    <activity android:name=".Activities.ManageBloodBank_B" />
    <activity android:name=".Activities.ManageUser" />
    <activity android:name=".Activities.AddBloodBank" />
    <activity android:name=".Activities.LoginActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>

    </manifest>